.ly_header {
    position: fixed;
    left: 0; right: 0; top: 0;
    z-index: 100;
    width: min(var(--w-container), 100%);
    margin: 0 auto;
    padding: 0 var(--layout-paddingH);
    background: var(--c-white);
}
.ly_content {
    width: min(var(--w-container), 100%);
    margin: 0 auto;
    padding: 0 var(--layout-paddingH);
    background: var(--c-white);
    
    &_inner {
        padding-top: calc(var(--headerNav-height) + var(--progress--height) + var(--gap-xxl)); // ly (header 높이)
        padding-bottom: 150px; // ly (footer 높이)
    }
}
.ly_footer {
    position: fixed;
    left: 0; right: 0; bottom: 0;
    width: min(var(--w-container), 100%);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 0 var(--layout-paddingH); // ly
    background: var(--c-white);
}
// 스크롤
.has_scroll .ly_footer {
    border-top: 1px solid var(--c-gray);
}