.ly_container {
    position: relative; // 임시 코드
    background: #f5f5f6; // 임시 코드
}

.ly_header {
    position: fixed;
    left: 0; right: 0; top: 0;
    z-index: 100;
    width: min(var(--w-container), 100%);
    margin: 0 auto;
    padding: 0 var(--layout-paddingH);
    background: var(--c-white);
}
.ly_content {
    width: min(var(--w-container), 100%);
    margin: 0 auto;
    padding: 0 var(--layout-paddingH);
    background: var(--c-white);
    
    &_inner {
        padding-top: calc(var(--headerNav-height) + var(--progress--height) + var(--gap-xxl)); // ly (header 높이)
        padding-bottom: 180px; // ly (footer 높이)

        min-height: 100dvh; // 임시 코드
    }
}
.ly_footer {
    position: fixed;
    left: 0; right: 0; bottom: 0;
    width: min(var(--w-container), 100%);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border-top: 1px solid var(--c-gray);
    padding: 30px var(--layout-paddingH); // ly
    background: var(--c-white);
}