@mixin respond($device) {
  @if $device == moblie {
    @media screen and (min-width: 564px) {
      @content;
    }
  }
}

@mixin hover() {
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      @content;
    }
  }
}

@mixin focus() {
  outline: 3px solid var(--c-focus);
  outline-offset: 3px;
  border-radius: var(--borderRadius);
}