@mixin respond($device) {
  @if $device == moblie {
    @media screen and (min-width: 564px) {
      @content;
    }
  }
}

@mixin hover() {
  @media (hover: hover) and (pointer: fine) {
    @content;
  }
}
