@import 'utils/mixin';

@import 'base/reset';
@import 'base/var';
@import 'base/font';

@import 'layout/layout';
@import 'layout/header';
@import 'layout/footer';

@import 'blocks/option-select';
@import 'blocks/option-star';
@import 'blocks/option-emoji';
@import 'blocks/option-text';
@import 'blocks/ques';
@import 'blocks/Qhead';