@font-face {
  font-family: "SpoqaHanSansNeo";
  font-weight: 400; // Regular
  src: url("/assets/fonts/SpoqaHanSansNeo-Regular.woff2") format("woff2"),
    url("/assets/fonts/SpoqaHanSansNeo-Regular.woff") format("woff");
}
@font-face {
  font-family: "SpoqaHanSansNeo";
  font-weight: 500; // Medium
  src: url("/assets/fonts/SpoqaHanSansNeo-Medium.woff2") format("woff2"),
    url("/assets/fonts/SpoqaHanSansNeo-Medium.woff") format("woff");
}
@font-face {
  font-family: "SpoqaHanSansNeo";
  font-weight: 600; // bold
  src: url("/assets/fonts/SpoqaHanSansNeo-Bold.woff2") format("woff2"),
    url("/assets/fonts/SpoqaHanSansNeo-Bold.woff") format("woff");
}