:root {
  // color
  --c-white: #fff;
  --c-primary: #e00842;
  --c-focus: #0C6DD2;
  --c-gray: #d6d8da;
  --c-lightgray: #ebeced;
  --c-darkgray: #858b91;

  // font color
  --fc: #14181c;
  --fc-darkGray: #4b4845;
  --fc-gray: #666e75;
  // font-weight
  --fw-bold: 700;
  --fw-semibold: 600;
  --fw-medium: 500;
  --fw-regular: 400;
  // font size
  --fz-xs: 0.75rem; // 12
  --fz-s: 0.875rem; // 14
  --fz: 1rem; // 16
  --fz-l: 1.125rem; // 18
  --fz-xl: 1.25rem; //20
  // line-height
  --lh-xs: 1.125rem; // 18
  --lh-s: 1.25rem; // 20
  --lh: 1.5rem; // 24
  --lh-l: 1.625rem; // 26

  // width
  --w-container: 564px;

  // border-radius
  --borderRadius: 8px;

  // gap (4배수)
  --gap-xs: 4px;
  --gap-s: 8px;
  --gap-m: 16px;
  --gap-l: 20px;
  --gap-xl: 24px;
  --gap-xxl: 32px;

  // bl_select
  --select--c: #858b91;
  --select--c-active: #082065;
  --select--bc-hover: #EDEDED;
  --select--bc-active: #EBEDF3;
  --select--bc-active-hover: #DADEE8;
  --select--p: 14px;
  --select--p-hList: 16px;
  --select--icon: 1rem;

  // el_btn
  --btn--c-hover: #b30635;

  // layout
  --layout-paddingH: 20px;

  // header
  --headerNav-height: 48px;
  --headerNav--icon: 24px;
  --progress--height: 52px; // 16 + 20 + 4 + 4 + 8
  --progressBar--height: 4px;

  // bl_progressCount
  --count-gap: 4px;

  // bl_quesList
  --ques-gap: 64px;

  // bl_textarea
  --ta-paddingH: 16px;
  --ta-paddingV: 14px;
  --ta-gap: 3px;
  --ta-scale: 0.875;
  --ta-minHeight: 118px;

  // icon
  --ico--star-size: 52px;
  --ico--star-gap: 13px;
  --ico--emoji-size: 52px;
  --ico--emoji-gap: 13px;
  --ico--c-stroke: #858B91;
  --ico--c-strokeSelected: #B18F1B;

  @include respond(moblie) {
    // icon
    --ico--star-gap: 42px;
    --ico--emoji-gap: 42px;
    // layout
    --layout-paddingH: 28px;
  }
}
