.el_star {
    cursor: pointer;
    .ico_star {
        color: #D6D8DA; // default
        stroke: var(--ico--c-stroke);
        stroke-width: 1;
        width: var(--ico--star-size);
        height: var(--ico--star-size);
        
        @include hover {
            color: #ededed;
        }
    }
    // focus
    &:has(input:focus-visible) {
        @include focus;
    }
    // active
    &.is_active {
        .ico_star {
            color: #F7C926; 
            stroke: var(--ico--c-strokeSelected);
            stroke-width: 2;
            @include hover {
                color: #fce8a1;
            }
        }
    }
}

// 옵션
.bl_optStar {
    display: flex;
    justify-content: center;
    column-gap: var(--ico--star-gap);
}