.bl_textarea {
    position: relative;

    textarea {
        display: block;
        height: auto;
        min-height: var(--ta-minHeight); // 예외 
        width: 100%;
        border: 1px solid var(--c-darkgray);
        border-radius: var(--borderRadius);
        padding: var(--ta-paddingV) var(--ta-paddingH) calc(var(--ta-paddingV) + var(--gap-xl));
        overflow: hidden;
        resize: none;
        font-size: var(--fz-s);
        font-weight: var(--fw-regular);
        line-height: var(--lh-s);

        &::placeholder { color: var(--fc-gray); }
        &:focus-visible { outline: none; }
    }
    // iOS 확대 대응 방지
    &.is_scaled { 
        textarea {
            width: calc(100% / var(--ta-scale)) !important;
            padding: calc(var(--ta-paddingV) / var(--ta-scale))
                     calc(var(--ta-paddingH) / var(--ta-scale))
                     calc((var(--ta-paddingV) + var(--gap-xl)) / var(--ta-scale)) !important;
            font-size: 16px !important;
            line-height: 22px !important;
            line-height: 1 !important;
            transform: scale(var(--ta-scale));
            transform-origin: left top;
        }
    }
    // bl_textarea_counter
    &_counter {
        position: absolute;
        bottom: var(--ta-paddingV); right: var(--ta-paddingH);
        display: flex;
        align-items: center;
        column-gap: var(--ta-gap);
        font-size: var(--fz-xs);
        color: var(--fc-gray);
        font-weight: var(--fw-regular);
        line-height: var(--lh-xs);
    }
    &_count {
        display: flex;
        align-items: center;
        column-gap: var(--ta-gap);

        &::after {
            content: '';
            display: inline-block;
            width: 1px;
            height: calc(var(--fz-s) - .2rem);
            background: var(--fc);
            transform: rotate(15deg);
        }
    }
}
body.is_tabDown {
    .bl_textarea textarea {
        &:focus-visible{
            @include focus;
        }   
    }
}
// bl_optText
.bl_optText {

    &_label {
        color: var(--fc-gray);
        font-size: var(--fz-s);
        font-weight: var(--fw-regular);
        line-height: var(--lh-s);
        word-break: keep-all;
        margin-top: var(--gap-s); // 예외
    }
}