.bl_select {
    display: flex;
    justify-content: center;
    padding: var(--select--p) 0;
    border: 1px solid var(--select--c);
    border-radius: var(--borderRadius);
    cursor: pointer;
    @include hover {background-color: var(--select--bc-hover);}
    
    &_txt {
        font-size: var(--fz-s);
        line-height: var(--lh-s);
        word-break: keep-all;
    }
    // active
    &.is_active {
        border-color: var(--select--c-active);
        background-color: var(--select--bc-active);
        outline: 1px solid var(--select--c-active);
        @include hover {  background-color: var(--select--bc-active-hover); }
        
        .bl_select_txt { color: var(--select--c-active); }
    }
    // focus
    &:has(input:focus-visible) {
        @include focus;                 
    } 
}
// 옵션
.bl_optBtn {
    display: flex;
    gap: var(--gap-s);

    .bl_select {
        flex: 1;
    }
}
.bl_optList {
    display: flex;
    flex-direction: column;
    gap: var(--gap-s);

    .bl_select {
        position: relative;
        padding-left: var(--select--p-hList) !important;
        padding-right: calc(var(--gap-s) + var(--select--icon) + var(--select--p-hList)) !important;
        line-height: 1.2 !important;
        justify-content: flex-start;

        &::after {
            content: '';
            display: none;
            position: absolute;
            top: 50%; right: var(--select--p-hList);
            transform: translateY(-50%);
            width: var(--select--icon);
            height: var(--select--icon);
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url('/assets/icons/ico_check.svg');
        }
        &.is_active {
            &::after {
                display: block;
            }
        }
    }
}
.bl_optScale {
    &_list {
        display: flex;
        gap: var(--gap-xs);
        .bl_select { flex: 1; }
    }
    &_label {
        display: flex;
        justify-content: space-between;
        margin-top: var(--gap-s); // ly (라벨 옵션)
        
        color: var(--fc-gray);
        font-size: var(--fz-s);
        line-height: var(--lh-s);
        font-weight: var(--fw-regular);
        white-space: nowrap;
    }
}