.bl_Qhead {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--gap-m); 
}

// 질문
.el_subT {
    font-size: var(--fz-xl);
    font-weight: var(--fw-bold);
    line-height: var(--lh-l);
}
.bl_quesT {
    word-break: keep-all;
    line-height: var(--lh);
}
.el_descT {
    font-size: var(--fz-s);
    font-weight: var(--fw-regular);
    color: var(--fc-gray);
}

// 간격
.el_subT + .bl_quesT {
    margin-top: var(--gap-xl);
}
.bl_quesT + .el_descT {
    margin-top: var(--gap-s);
}